<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>release</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

    <link rel="icon" href="../public/assets/img/jet.svg">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../public/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../public/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../public/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../public/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../public/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex justify-content-between align-items-center">

      <div class="logo">
        <h1 class="text-light"><a href="/"><span>SOLOQS</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
    
          <ul>
          {{#if isLogin}}  
            <span class="btn btn-outline-light ms-3">Hallo, {{user.email}}</span>


          {{else}}
            <li><a href="/login">Login</a></li>
          {{/if}}
          </ul>

          <li><a class="active " href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/release_online">E-Release</a></li>
          <li class="dropdown"><a href="#"><span>E-Kliping</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="/kliping_cetak">E-Kliping Cetak</a></li>
              <li><a href="/kliping_online">E-Kliping Online</a></li>
            </ul>
          </li>
        
          <li><a href="/galery">Galery</a></li>
          <li><a href="/contact">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

<!-- start section  -->
  <main id="main">
    <body>
      <section class="breadcrumbs">
        <div class="container">
    
          <div class="d-flex justify-content-between align-items-center">
            <h2>E - Rilis </h2>
            <ol>
              <li><a href="/">Home</a></li>
              <li>E - Rilis</li>
            </ol>
          </div>
    
        </div>
      </section><!-- End Contact Section -->

      <!-- detail dari data e - kliping cetak  -->

    <!-- tabel ekliping -->
    <div class="table-container m-3">

      {{#if isLogin}}
        <div style="text-align:right; margin-right:40px; margin-top:40px; margin-bottom:30px;">
          <a href="/add-release" style="background-color: #8FBDD3; padding: 7px 20px; border:none; border-radius:7px; color:white; text-decoration:none;">Add New Release News </a>
        </div>
      {{/if}}
    
        <div class="table-style">
            <table class="table table-bordered border-primary ">
             
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Author News</th>
                    <th scope="col">Describe News</th>
                    <th scope="col">Publis At</th>
                    <th scope="col">Detail</th>
            
                  {{#if isLogin}}
                    <th scope="col">Edit</th>
                  {{/if}}
                </tr>
                   
              
            {{#each releaseOnline}}
     
              
                <tr>  
                    <th scope="row">{{this.id}}</th>
                    <td>{{this.author}}</td>
                    <td class="">{{this.describe}}</td>
                    <td>{{this.postAt}}</td>

                    <td>
                      <div class="btn-det">
                        <a href="/details-release/{{this.id}}" class="btn-details">detail</a>
                      </div>
                    </td>
            
               
                  {{#if isLogin}}
                    <td>
                      <div class="btn-group">
                        <a href="" class="btn-edit">Edit</a>
                        <a href="/deleteRelease/{{this.id}}" class="btn-delete">Delete</a>
                      </div>  
                    </td>
                  {{/if}}
              
   
                   
                  </tr>

              {{/each}}
                  
              </table>
        </div>

    </div>
    <!-- finish table e-kliping -->

    <!-- End #main -->
    <!-- kliping cetak e finish-->
    
      
  <!-- ======= Footer ======= -->
      <footer id="footer" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
    
        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="/">Home</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/about">About us</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/">Services</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/">Terms of service</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/">Privacy policy</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="/release_online">E-Rilis</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/kliping_online">E-Kliping Online</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/kliping_cetak">E-Kliping Cetak</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/galery">Galery</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="/contact">Contact</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-contact">
                <h4>Contact Us</h4>
                <p>
                  Jalan Dorak No.1, <br>
                  Selatpanjang, Riau 28753.<br>
                  Indonesia <br><br>
                  <strong>Phone :</strong> +62 8121 231311<br>
                  <strong>Email :</strong> iforme@gmail.com<br>
                </p>
    
              </div>
    
              <div class="col-lg-3 col-md-6 footer-info">
                <h3>About SOLOQS</h3>
                <p>Soloqs adalah sebuah aplikasi system pemerintahan, yang didalam nya terdapat berita yang dirilis oleh media wartawan di Kabupaten Kepulauan Meranti.</p>
                <div class="social-links mt-3">
                  <a href="https://twitter.com/login" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="https://www.facebook.com/login" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="https://www.instagram.com/accounts/login" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="https://www.linkedin.com/login" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container">
          <div class="copyright">
            &copy; Copyright <strong><span>ra66it</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
          <p>  Designed by <span>ra66it</span></p>
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->
      <script src="../public/assets/vendor/purecounter/purecounter.js"></script>
      <script src="../public/assets/vendor/aos/aos.js"></script>
      <script src="../public/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="../public/assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="../public/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="../public/assets/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="../public/assets/vendor/waypoints/noframework.waypoints.js"></script>
      <script src="../public/assets/vendor/php-email-form/validate.js"></script>
    
      <!-- Template Main JS File -->
      <script src="../public/assets/js/main.js"></script>
    
    </body>
    
    </html>

